{
  "extends": ["airbnb-base"],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": "off",
    "quotes": ["off", "backtick"],
    "linebreak-style": ["error", "unix"],
    "no-unexpected-multiline": "error",
    "no-else-return": "off",
    "arrow-body-style": "off",
    "max-len": "off",
    "consistent-return": "off",
    "object-curly-newline": "off"
  }
}
